.title{
    text-align: center;
    font-size: 30px;

}

.link{
    color: brown;
    font-size: 20px;
    margin: 2%;

}

.ojo{
    color: rgb(107, 27, 145);
    font-size: 23px;
    margin: 2%;


}

.enlace{
    color: rgb(107, 27, 145);
    font-size: 23px;
    margin: 2%;


}

.fin{
    color: rgb(107, 27, 145);
    font-size: 25px;
    margin: 2%;
    
}